.input {
    display: flex;
    justify-content: right;
}

.input img {
    width: 2em;
    align-items: center;
}

.input input {
    background-color: #ededed;
    border: none;
    margin: 0.5em;
}

.input p {
    color: #2C6871;
    font-weight: bold;
}

.sr_only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

