.form {
    margin: 0 auto;
    width: 16em;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 3em;
}

.form button {
    display: flex;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.form img {
    width: 3em;
    height: 3em;
}

.buttons_form {
    justify-self: right;
    display: flex;
}
