.div_father {
    display: block;
    margin: 0 auto;
    padding: 1em;
    height: 100vh;
    width: 30em;
}


#icon_home {
    position: absolute;
    width: 3.25em;
    height: 3.25em;
    right: 1em;
}

.div_father input {
    background-color: #ededed;
    border: none;
    width: 13em;
    height: 1.7em;
}

#input_search {
    margin: 1em 0;
}

.img_logon {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form img {
    width: 6.25em;
    height: 6.25em;
}

.form ul {
    padding: 0;
}

.form li {
    list-style: none;
}

#costumer_img {
    width: 1.7em;
    height: 1.7em;
    position: absolute;
    left: 32em;
}

.link_add_costumer {
    position: relative;
}

.link_add_costumer img {
    position: absolute;
    margin-top: .5em;
    width: 3em;
    height: 3em;
    right: 0;
}

.sr_only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.pagination {
    width: 100%;
    margin: 5em 0 0;
}

.pagination button {
    font-size: 1em; 
    color: #2C6871; 
    background-color: #ededed;
    border: none;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #2C6871; 
    color: #ffffff; 
    font-weight: bold; 
    border: 2px solid #2C6871; 
    border-radius: 5px; 
}

.pagination button:hover {
    background-color: #d0d0d0; 
}
