.body {
    display: block;
    width: 22em;
    padding: 1em;
    margin: 0 auto;
}

.form_email_recovery {
    display: flex;
}

#button_send {
    background-color: transparent;
    border: none;
}

#button_send_img {
    width: 3.25em;
    height: 3.25em;
    cursor: pointer;
}
