.body {
    display: block;
    width: 22em;
    padding: 1em;
    margin: 0 auto;
}

.form_reset_password {
    display: flex;
}

#button_save {
    background-color: transparent;
    border: none;
}

#button_save_img {
    width: 3.25em;
    height: 3.25em;
    cursor: pointer;
}
