.body {
    display: block;
    height: 100vh;
    padding: 1em;
}

.header {
    display: flex;
    justify-content: space-between;
}

#icon_home {
    position: relative;
    width: 3.25em;
    height: 3.25em;
    right: auto;
}