.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ededed;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100vw;
    height: 6em;
}

.list {
    display: flex;
    list-style: none;
    align-items:center;
    justify-content: center;
    padding-left: 0;
}

.list p {
    color: #2C6871;
    font-size: .8em;
}


