.footer {
    display: block;
    justify-content: space-between;
    background-color: #ededed;
    padding: 1em;
    text-align: center;
}

.list {
    display: flex;
    list-style: none;
    align-items:center;
    justify-content: center;
    padding-left: 0;
}
