.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    padding: 1em;
}

.navbar svg {
    width: 4em;
    height: 4em;
    color: #2c6871;
}

.list_unvisible {
    display: none;
    transition: 0.8s;
}

.list_visible {
    display: block;
    position: absolute;
    right: 0;
    margin-top: 3em;
    list-style: none;
    align-items:center;
    transition: 0.8s;
}

li {
    padding: 1em;
}

a {
    font-weight: bold;
}

@media (max-width: 432px) {
    .navbar {
        display: flex;
    }
}

@media (min-width: 768px) {
    .navbar {
        display: none;
    }
}