html, body {
    height: 100vh;
    font-size: clamp(0.5em, 0.75em + 1vw, 1em)
}

main {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em 29em;
    background-color: #ededed
}

section {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    
}

h1, h4, a {
    color: #2C6871;
    text-decoration: none
}

.links {
    display: grid;
    height: 6em;
}

.links:hover {
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;

}
