main {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em 29em;
}

section {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    
}

h1, h4, p {
    color: #2C6871;
}

h1:hover, h4:hover, .access:hover {
    color: #000000;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
}
